<section id="cx-timeline">
  
    <div class="cx-timeline-item">
        <div class="cx-timeline-bg"></div>
        <div class="cx-timeline-title">
            <div class="cx-title-graphic">
                <h4>Experience</h4>
            </div>
        </div>
        <div class="cx-timeline-content">
           <ul class="cx-exp-timeline">
             <li>
                <div class="cx-exp">
                    <span>Redbytes, Pune</span>
                    <span class="cx-years">JAN 2019 – Present</span>
                </div>
                <p>GRAPHIC DESIGNER</p>
             </li>
             <li>
                <div class="cx-exp">
                    <span>Jointviews, Trivandrum</span>
                    <span class="cx-years">FEB 2018 – DEC 2018</span>
                </div>
                <p>WEB DESIGNER/HTML DEVELOPER</p>
            </li>
           </ul>
        </div>
    </div>

    <div class="cx-timeline-item">
      <div class="cx-timeline-bg"></div>
      <div class="cx-timeline-title">
        <div class="cx-title-graphic">
            <h4>Education</h4>
        </div>
      </div>
      <div class="cx-timeline-content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur facilis laborum illum obcaecati, assumenda aliquid minima est ab quas harum ex, doloremque repellat aperiam odit, similique deleniti? Blanditiis, ipsa optio.</p>
      </div>
    </div>

    <div class="cx-timeline-item">
      <div class="cx-timeline-bg"></div>
      <div class="cx-timeline-title">
        <div class="cx-title-graphic">
            <h4>Skills</h4>
        </div>
      </div>
      <div class="cx-timeline-content">
        <ul class="cx-skills">
          <li>
              <div class="cx-skill-texts">
                <label>English</label>
                <span>Proficient</span>
              </div>
              
              <div class="cx-progress-bar">

              </div>
          </li>
          <li>
              <div class="cx-skill-texts">
                <label>Tamil</label>
                <span>Expert</span>
              </div>
              
              <div class="cx-progress-bar">

              </div>
          </li>
          <li>
            <div class="cx-skill-texts">
              <label>Hindi</label>
              <span>Basic</span>
            </div>
            
            <div class="cx-progress-bar">

            </div>
          </li>
          <li>
            <div class="cx-skill-texts">
              <label>Hindi</label>
              <span>Basic</span>
            </div>
            
            <div class="cx-progress-bar">

            </div>
          </li>
          <li>
            <div class="cx-skill-texts">
              <label>Hindi</label>
              <span>Basic</span>
            </div>
            
            <div class="cx-progress-bar">

            </div>
          </li>
          <li>
            <div class="cx-skill-texts">
              <label>Hindi</label>
              <span>Basic</span>
            </div>
            
            <div class="cx-progress-bar">

            </div>
          </li>
          <li>
            <div class="cx-skill-texts">
              <label>Hindi</label>
              <span>Basic</span>
            </div>
            
            <div class="cx-progress-bar">

            </div>
          </li>
          <li>
            <div class="cx-skill-texts">
              <label>Hindi</label>
              <span>Basic</span>
            </div>
            
            <div class="cx-progress-bar">

            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="cx-timeline-item">
      <div class="cx-timeline-bg"></div>
      <div class="cx-timeline-title">
        <div class="cx-title-graphic">
            <h4>Language</h4>
        </div>
      </div>
      <div class="cx-timeline-content">
          <ul class="cx-skills">
            <li>
                <div class="cx-skill-texts">
                  <label>English</label>
                  <span>Proficient</span>
                </div>
                
                <div class="cx-progress-bar">

                </div>
            </li>
            <li>
                <div class="cx-skill-texts">
                  <label>Tamil</label>
                  <span>Expert</span>
                </div>
                
                <div class="cx-progress-bar">

                </div>
            </li>
            <li>
              <div class="cx-skill-texts">
                <label>Hindi</label>
                <span>Basic</span>
              </div>
              
              <div class="cx-progress-bar">

              </div>
          </li>
          </ul>
      </div>
    </div>
   
    
  
   
  </section>
  
