<div class="cx-project-wrapper">
    <ul class="cx-project-list"  appHorizontalScroll>
        <li class="cx-fheight">
            <a href="#">
                <img src="../../../../../assets/images/projects/image_01.jpg" />
            </a>
            <div class="cx-pinfo">
                <h4>Jofar</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus atque quod provident sint iste, saepe quos explicabo laborum facere commodi ipsum officia. Unde voluptatibus in rerum rem labore aperiam voluptatem.</p>
            </div>
        </li>
        <li class="cx-hheight">
            <a href="#">
                <img src="../../../../../assets/images/projects/image_02.jpg" />
            </a>
            <div class="cx-pinfo">
                <h4>Jofar</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus atque quod provident sint iste, saepe quos explicabo laborum facere commodi ipsum officia. Unde voluptatibus in rerum rem labore aperiam voluptatem.</p>
            </div>
        </li>
        <li class="cx-hheight">
            <a href="#">
                <img src="../../../../../assets/images/projects/image_03.jpg" />
            </a>
            <div class="cx-pinfo">
                <h4>Jofar</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus atque quod provident sint iste, saepe quos explicabo laborum facere commodi ipsum officia. Unde voluptatibus in rerum rem labore aperiam voluptatem.</p>
            </div>
        </li>
        <li class="cx-fheight">
            <a href="#">
                <img src="../../../../../assets/images/projects/image_04.jpg" />
            </a>
            <div class="cx-pinfo">
                <h4>Jofar</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus atque quod provident sint iste, saepe quos explicabo laborum facere commodi ipsum officia. Unde voluptatibus in rerum rem labore aperiam voluptatem.</p>
            </div>
        </li>
        <li class="cx-fheight">
            <a href="#">
                <img src="../../../../../assets/images/projects/image_04.jpg" />
            </a>
            <div class="cx-pinfo">
                <h4>Jofar</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus atque quod provident sint iste, saepe quos explicabo laborum facere commodi ipsum officia. Unde voluptatibus in rerum rem labore aperiam voluptatem.</p>
            </div>
        </li>
        <li class="cx-fheight">
            <a href="#">
                <img src="../../../../../assets/images/projects/image_04.jpg" />
            </a>
            <div class="cx-pinfo">
                <h4>Jofar</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus atque quod provident sint iste, saepe quos explicabo laborum facere commodi ipsum officia. Unde voluptatibus in rerum rem labore aperiam voluptatem.</p>
            </div>
        </li>
        <li class="cx-fheight">
            <a href="#">
                <img src="../../../../../assets/images/projects/image_04.jpg" />
            </a>
            <div class="cx-pinfo">
                <h4>Jofar</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus atque quod provident sint iste, saepe quos explicabo laborum facere commodi ipsum officia. Unde voluptatibus in rerum rem labore aperiam voluptatem.</p>
            </div>
        </li>
    </ul>
</div>
