<div class="cx-home-wrapper">
   <app-my-space></app-my-space>
   <div class="cx-container">
      <div class="cx-home-in">

         <h1>What do i do</h1>

         <section id ="cx-ui">
            <div class="cx-title">
               <h6>Mobile & Web</h6>
               <h2>UI/UX Design</h2>
            </div>
            <div class="row align-items-center">
               <div class="col-lg-6">
                  <div class="cx-content">
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas inventore, neque sed maiores dolorum sapiente quae quod accusamus quasi, culpa facere similique omnis adipisci et molestias deserunt nobis, esse earum.</p>
                     <ul class="cx-stats">
                        <li>
                           <label>Experience</label>
                           <p>4 years</p>
                        </li>
                        <li>
                           <label>Projects</label>
                           <p>75+</p>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="cx-content cx-tiles">
                     <div class="cx-tile">
                        <img src="../../assets/images/home/ic_xd.svg" alt="xd-icon" />
                        <h4>Adobe Xd</h4>
                        <div class="cx-skill">
                           <span>Expert</span>
                        </div>
                        <ul class="cx-skill-bar">
                           <li></li>
                           <li></li>
                           <li></li>
                           <li></li>
                           <li></li>
                        </ul>
                     </div>
                     <div class="cx-tile">
                        <img src="../../assets/images/home/ic_xd.svg" alt="xd-icon" />
                        <h4>Adobe Illustrator</h4>
                        <div class="cx-skill cx-rotate">
                           <img src="../../assets/images/home/proficient_text.svg" alt="proficient-text">
                        </div>
                        <ul class="cx-skill-bar">
                           <li></li>
                           <li></li>
                           <li></li>
                           <li></li>
                           <li></li>
                        </ul>
                     </div>
                     <div class="cx-tile">
                        <img src="../../assets/images/home/ic_xd.svg" alt="xd-icon" />
                        <h4>Adobe Illustrator</h4>
                        <div class="cx-skill cx-rotate">
                           <img src="../../assets/images/home/intermediate_text.svg" alt="intermediate-text">
                        </div>
                        <ul class="cx-skill-bar">
                           <li></li>
                           <li></li>
                           <li></li>
                           <li></li>
                           <li></li>
                        </ul>
                     </div>
                     <div class="cx-tile cx-tile-04">
                        <img src="../../assets/images/home/ic_photoshop.svg" alt="photoshop-icon" />
                        <h4>Adobe Photoshop</h4>
                        <div class="cx-skill">
                           <span>PROFICIENT</span>
                        </div>
                        <ul class="cx-skill-bar">
                           <li></li>
                           <li></li>
                           <li></li>
                           <li></li>
                           <li></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </section>

         <section id ="cx-front">
            <div class="cx-title">
               <h6>Web</h6>
               <h2>Front End Developer</h2>
            </div>
            <div class="row align-items-center">
               <div class="col-lg-6">
                  <div class="cx-content cx-tiles">
                     <div class="cx-tile">
                        <img src="../../assets/images/home/ic_xd.svg" alt="xd-icon" />
                        <h4>Adobe Xd</h4>
                        <div class="cx-skill">
                           <span>Expert</span>
                        </div>
                        <ul class="cx-skill-bar">
                           <li></li>
                           <li></li>
                           <li></li>
                           <li></li>
                           <li></li>
                        </ul>
                     </div>
                     <div class="cx-tile">
                        <img src="../../assets/images/home/ic_xd.svg" alt="xd-icon" />
                        <h4>Adobe Illustrator</h4>
                        <div class="cx-skill cx-rotate">
                           <img src="../../assets/images/home/proficient_text.svg" alt="proficient-text">
                        </div>
                        <ul class="cx-skill-bar">
                           <li></li>
                           <li></li>
                           <li></li>
                           <li></li>
                           <li></li>
                        </ul>
                     </div>
                     <div class="cx-tile">
                        <img src="../../assets/images/home/ic_xd.svg" alt="xd-icon" />
                        <h4>Adobe Illustrator</h4>
                        <div class="cx-skill cx-rotate">
                           <img src="../../assets/images/home/intermediate_text.svg" alt="intermediate-text">
                        </div>
                        <ul class="cx-skill-bar">
                           <li></li>
                           <li></li>
                           <li></li>
                           <li></li>
                           <li></li>
                        </ul>
                     </div>
                     <div class="cx-tile cx-tile-04">
                        <img src="../../assets/images/home/ic_photoshop.svg" alt="photoshop-icon" />
                        <h4>Adobe Photoshop</h4>
                        <div class="cx-skill">
                           <span>PROFICIENT</span>
                        </div>
                        <ul class="cx-skill-bar">
                           <li></li>
                           <li></li>
                           <li></li>
                           <li></li>
                           <li></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="cx-content">
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas inventore, neque sed maiores dolorum sapiente quae quod accusamus quasi, culpa facere similique omnis adipisci et molestias deserunt nobis, esse earum.</p>
                     <ul class="cx-stats">
                        <li>
                           <label>Experience</label>
                           <p>4 years</p>
                        </li>
                        <li>
                           <label>Projects</label>
                           <p>75+</p>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </section>

      </div>   
   </div>
</div>

