<aside class="cx-myspace">
    <div class="cx-ms-container">
        <div class="cx-filter"></div>
        <div class="cx-ms-details">
            <h1>Hi, I am <span>Satheesh</span></h1>
            <span>a</span>
            <h2 class="cx-text-animated" data-text="Freelancer...">Freelancer...</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas fuga quaerat quos? Omnis dolorum enim rem reiciendis qui doloremque fugit quo temporibus.</p>
            <div class="cx-ms-social">
                <label>BEST SKILL ON</label>
                <ul>
                    <li>
                        <a href="#"><i class="fa-brands fa-behance"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa-brands fa-artstation"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</aside>
